# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
venv/

# Django
*.db
*.sqlite3
*.pot
*.pyc
*.pyo
*.pyd
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
